In [52]:
import pandas as pd
import numpy as np
def logFile2Table(path):
#     infile = r'/Users/manasibhogawar/Desktop/BEEIGL/logfiles/02_S0300_v0-r3hvAm.log'
    infile = path
    with open(infile) as f:
        f = f.readlines()


    imp = []
    important1 = []
    important2 = []

    read = True
    for line in f:
        if line.startswith("Subject\tTrial\t"):
            read = False

        if read:    
            imp.append(line)

    header_table = [l.rstrip() for l in imp if l != ' '][:-1]
    #header_table.head()


    # Fetching log file data of Event table
    for line in f:
        if line.startswith("Subject\tTrial\t") :
            read = False
        elif line.startswith("Event Type\tCode"):
            read = True
    #     if line.startswith("Event Type\tCode"):
    # #         endofLines = True
    #     if not line.startswith("Event Type\tCode") or nextlines:
        if read:
            important2.append(line)

    l2 = [l.rstrip().split('\t') for l in important2 if l != '\n']
    event_table = pd.DataFrame(l2)
    event_table.head()
    ##event_table.info()


    # Fetching log file data of Event table
    read = False
    for line in f:
        if line.startswith("Subject\tTrial\t") :
            read = True
        elif line.startswith("Event Type\tCode"):
            read = False
    #     if line.startswith("Event Type\tCode"):
    # #         endofLines = True
    #     if not line.startswith("Event Type\tCode") or nextlines:
        if read:
            important1.append(line)

    l1 = [l.rstrip().split('\t') for l in important1 if l != '\n']
    stim_table = pd.DataFrame(l1)
    stim_table.head()

    return event_table, stim_table,header_table

In [115]:
a,b,c = logFile2Table('/Users/manasibhogawar/Desktop/BEEIGL/logfiles/02_S0300_v0-r3hvAm.log')

In [116]:
b.insert(0, "SrNo", list(range(0,len(b))), False)

In [117]:
b.set_index('SrNo')

,0,1,2,3,4,5,6,7,8,9,10
SrNo,,,,,,,,,,,
0,Subject,Trial,Event Type,Code,Time,TTime,Uncertainty,Duration,Uncertainty,ReqTime,ReqDur
1,02_0300,1,Response,128,-2101,7732,1,None,None,None,None
2,02_0300,3,Picture,full1n,8333,0,1,3167,2,0,3120
3,02_0300,4,Picture,full1i,19263,0,238,2904,239,0,2790
4,02_0300,5,Picture,full1n,32500,0,1,4500,3,0,4450
...,...,...,...,...,...,...,...,...,...,...,...
304,02_0300,267,Picture,full1n,3396242,0,1,3833,2,0,3790
305,02_0300,268,Picture,full1i,3407575,0,2,2834,3,0,2790
306,02_0300,269,Picture,full0n,3418409,0,1,3333,2,0,3290
307,02_0300,270,Picture,default,3429743,0,1,2666,2,0,2500
308,02_0300,271,Picture,default,3449910,0,1,6998,2,0,2500